* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
}

li a {
  display: block;
  color: rgba(0, 0, 0, 0.427);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header {
  margin-bottom: 20px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-right: 20px;
}

header ul li {
  float: none;
  display: inline-block;
  margin-right: 90px;
  font-family: sourcecode-pro, monospace;
  color: white;
}

header ul li a {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-weight: 800;
  cursor: pointer;
}

header ul li a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  /* Adjust this value to bring the effect closer or further from the li */
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

header ul li a:hover::after {
  transform: scaleX(1);
}

li a:hover {
  color: #000000;
}

li:last-child {
  margin-right: 0;
}
.top-bar {
  width: 100%;
  height: 35px;
  background-color: #d6d6d63b;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar a {
  margin: 0 15%;
  align-items: center;
}

.sale {
  color: red;
  font-weight: 900;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  align-items: center;
}

.search {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(17, 50px);
  justify-content: center;
  margin-top: -20px;
  padding-bottom: 5px;
}

.searchbar {
  grid-row: 1/2;
  grid-column: 8 / 14;
  border: 0;
  background-color: #d6d6d63b;
  border-radius: 10px;
  outline: none;
}
.searchbar::placeholder {
  text-align: center;
  padding-right: 45px;
}

.search-icon {
  grid-row: 1/2;
  grid-column: 13 / 14;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-left: 9px;
}

.logo-icon {
  grid-row: 1/2;
  grid-column: 1/6;
  height: 50px;
}

.heart-icon {
  grid-column: 16/17;
  grid-row: 1/2;
  height: 50px;
  width: 50px;
}

.bag-icon {
  grid-column: 17/18;
  grid-row: 1/2;
  height: 50px;
  width: 50px;
}

.image-slider {
  min-height: 30em;
  height: 50vh;
  position: relative;
  background-image: url(../IMG/sneaker1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.image-slider * {
  box-sizing: border-box;
}

.arrow-left,
.arrow-right {
  background: #fff;
  position: absolute;
  top: 40%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-left:hover,
.arrow-right:hover {
  background: #000;
  color: #fff;
}

.arrow-left {
  left: 1em;
}

.arrow-right {
  right: 1em;
}

.image-fade {
  animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
